.body-wrapper {
	padding: 30px 0;
}

.padding-zero {
	padding: 0;
}

.align-center {
	text-align: center;
}

.form-control::placeholder {
	color: rgb(0, 0, 0);
}

.form-control {
	color: rgb(0, 0, 0);
}

#botao {
	background-color: #ffffff;
	color: #000000;
	border-color: rgb(0, 0, 0);
	border-width: 1px;
	border-style: dashed;
	box-shadow: none;
}

#botao:focus {
	outline: none;
	border-color: rgb(0, 0, 0);
	border-width: 1px;
	border-style: dashed;
	box-shadow: none;
}

.grupo_selecionado td,
.caracter_selecionado {
	background: rgb(255, 255, 255);
}

.grupo_selecionado td.caracter_selecionado {
	color: #fff;
	background: rgba(91, 91, 91, 0.7);
}

#box.reconhecido,
#box.reconhecido input {
	border-color: #27ae60;
	color: #27ae60;
	background: rgba(39, 174, 96, 0.1);
}

#box.rejeitado,
#box.rejeitado input {
	border-color: #e74c3c;
	color: #e74c3c;
	background: rgba(231, 76, 60, 0.1);
}